doctype html
html(lang="es")
	head
		title Ejemplo NodeJS con Express + JADE + MongoDB + Mongoose
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
	body
		div(class="container")
			div(class="row")
				block contenido