extends ./layout.jade
block contenido
	div(class="col-md-12")
		a(href="/" class="btn btn-warning") Volver
	div(class="col-md-8 col-md-offset-2")
		form(action="/users" method="POST")
			div(class="form-group")
				label(for="email") E-Mail
				input(type="text" class="form-control" id="email" name="email" email="email" placeholder="Ingrese correo electronico")
			div(class="form-group")
				label(for="name") Nombre
				input(type="text" class="form-control" id="name" name="name" placeholder="Ingrese nombre")
			div(class="form-group")
				label(for="lastname") Apellido
				input(type="text" class="form-control" id="lastname" name="lastname" placeholder="Ingrese apellido")
			div(class="form-group")
				label(for="username") Usuario
				input(type="text" class="form-control" id="username" name="username" placeholder="Ingrese nombre de usuario")
			div(class="form-group")
				label(for="password") Contrase単a
				input(type="password" class="form-control" id="password" name="password" placeholder="Ingrese contrase単a")
			div(class="form-group")
				label(for="p_c") Confirmar Contrase単a
				input(type="password" class="form-control" id="p_c" name="p_c" placeholder="Reingrese contrase単a")
			button(type="submit" class="btn btn-success") Ingresar